@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    max-height: 100vh;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100vh;
    max-width: 100vw;
}

#content > #background-image-container {
    background-image: url('./resources/haley-phelps-S-llxYh3GzI-unsplash.jpg');
    background-position: 70% 0%;
    background-size: 260%;
    flex: 1 1 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content > #background-image-container > #logo-container {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-basis: 40vw;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    bottom: 25vh;
}

#content > #background-image-container > #logo-container > img {
    filter: invert(100%);
    max-width: 125px;
}

#content > #background-image-container > #logo-container > h1 {
    font-family: 'Noto Serif TC', serif;
    color: white;
}

#content > #right-section {
    display: flex;
    flex: 1 1 70%;
    flex-wrap: wrap;
    align-items: flex-start;
}

#content > #right-section > #dummy-text-container {
    flex: 1 1 100%;
    position: relative;
    top: 100px;
    margin-left: 50px;
    margin-right: 200px;
}

#content > #right-section > #dummy-text-container > p {
    font-size: 24px;
}

#content > #right-section > form {
    margin-left: 50px;
    margin-right: 200px;
}

#content > #right-section > form > #form-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 16px;
}

#content > #right-section > form > #form-container > h3 {
    font-size: 28px;
    flex: 1 1 100%;
}

#content > #right-section > form > #form-container > .input {
    flex: 1 1 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#content > #right-section > form > #form-container > .input > label {
    flex: 1 1 100%;
}

#content > #right-section > form > #form-container > .input > input {
    flex: 1 1 100%;
    height: 30px;
}

#content > #right-section > form > #form-container > .input > input:focus {
    outline: 1 solid #0377fc;
    box-shadow: 1px 2px 1px #996;
}

#content > #right-section > form > #form-container > .input > .error {
    outline:  1 solid red;
    box-shadow: 1px 2px 1px #996;
}

#content > #right-section > #button-container {
    flex: 1 1 100%;
    margin-left: 50px;
    position: relative;
    bottom: 50px;
}

#content > #right-section > #button-container > button {
    padding: 16px 30px 16px 30px;
    font-size: 20px;
    color: white;
    background-color: #2596be;
    border-radius: 8px;
    border: 0px;
}

#content > #right-section > #log-in-container {
    flex: 1 1 100%;
    margin-left: 50px;
    position: relative;
    bottom: 100px;
}

#content > #right-section > #log-in-container > p {
    font-size: 20px;
}